<main class="ngwr-page">
  <div class="ngwr-page-hero">
    <wr-tag class="ngwr-page-hero__tag" transparent rounded>Components</wr-tag>
    <h1 class="ngwr-page-hero__title">Spinner</h1>
    <p class="ngwr-page-hero__description">{{ description }}</p>
  </div>

  <div class="ngwr-page__content">
    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">How to use</h2>
      <p class="ngwr-page-section__description">
        Import <code class="ngwr-pre">WrSpinModule</code> into a module where you want to use.
      </p>

      <ngwr-code class="ngwr-page-section__code" [code]="importCode" codeLang="ts"></ngwr-code>
    </div>

    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">Example</h2>
      <p class="ngwr-page-section__description">Basic usage of spinner component</p>

      <ngwr-snippet class="ngwr-page-section__code" codeLang="html">
        <div slot="display">
          <wr-spin></wr-spin>
        </div>
        <ngwr-code [code]="exampleCode" codeLang="html" slot="code"></ngwr-code>
      </ngwr-snippet>
    </div>
  </div>
</main>
