<main class="spinner">
  <div class="page__hero">
    <div class="page-header">
      <h1 class="page-header__title">Spinner</h1>
      <p class="page-header__description">A spinner for displaying loading state.</p>
    </div>

    <code [innerHTML]="importCode | language: 'ts' | markdown"></code>
  </div>

  <section class="page-section">
    <h2 class="page-section__title">Example</h2>
    <p class="page-section__description">Basic usage of spinner component</p>

    <app-snippet codeLang="html">
      <div slot="display">
        <wr-spin></wr-spin>
      </div>
      <div [innerHTML]="exampleCode | language: 'html' | markdown" slot="code"></div>
    </app-snippet>
  </section>
</main>
