<main class="icon">
  <div class="page__hero">
    <div class="page-header">
      <h1 class="page-header__title">Icon</h1>
      <p class="page-header__description">Component to display awesome icons</p>
    </div>

    <pre class="pre"><code highlight="import { WrIconModule } from 'ngwr';" [languages]="['ts']"></code></pre>

    <p class="lead">Add module in root module:</p>
    <pre class="pre"><code [highlight]="iconRootCode" [languages]="['ts']"></code></pre>
  </div>

  <section class="page-section">
    <h2 class="page-section__title">Icon list</h2>
    <p class="page-section__description">Beautiful hand-crafted icons</p>

    <app-snippet codeLang="html">
      <div class="grid" slot="display">
        <div class="col-12 col-md-2" *ngFor="let i of icons">
          <div class="icons-item">
            <wr-icon class="icons-item__icon" [name]="i.name"></wr-icon>
            <span class="icons-item__name">{{ i.name }}</span>
          </div>
        </div>
      </div>
      <code [highlight]="iconCode" slot="code" [languages]="['html']"></code>
    </app-snippet>
  </section>

  <section class="page-section">
    <h2 class="page-section__title">API</h2>

    <table class="page__table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><code>[name]</code></th>
          <th>set name of icon</th>
          <th>
            <code>wrIconName | string</code>
          </th>
          <th><code>-</code></th>
        </tr>
      </tbody>
    </table>
  </section>
</main>
