@import 'alert';
@import 'button';
@import 'tag';

@import 'reset-component';

@mixin column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

@mixin row {
  display: flex;
  align-items: center;
}

@mixin no-select {
  user-select: none;
  pointer-events: none;
}
