.hljs {
  color: var(--ngwr-hl-text);
}

.hljs-tag {
  color: var(--ngwr-hl-text);
}

.hljs-comment,
.hljs-quote {
  color: var(--ngwr-hl-comment);
  font-style: italic;
}

.hljs-attr {
  color: var(--wr-color-secondary);
}

.hljs-keyword {
  color: var(--ngwr-hl-keyword);
}

.hljs-title,
.hljs-meta,
.hljs-built_in,
.hljs-title.class_,
.hljs-class {
  color: var(--ngwr-hl-title);
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute {
  color: var(--ngwr-hl-string);
}

.hljs-number,
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-selector-id {
  color: var(--ngwr-hl-number);
}


.hljs-name,
.hljs-doctag,
.hljs-keyword,
.hljs-formula,
.hljs-section,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--ngwr-hl-name);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
