<main class="installation">
  <div class="page__hero">
    <div class="page-header">
      <h1 class="page-header__title">Installation</h1>
      <p class="page-header__description">You can easily install NGWR by running the following command:</p>
    </div>
  </div>

  <section class="page-section">
    <p class="page-section__description">If you are using npm:</p>
    <pre class="pre"><code [highlight]="'$ npm i ngwr'" [languages]="['console']"></code></pre>

    <p class="page-section__description">If you are using yarn:</p>
    <pre class="pre"><code [highlight]="'$ yarn add ngwr'" [languages]="['console']"></code></pre>

    <p class="page-section__description">After install, add styles to your project styles:</p>
    <pre class="pre"><code highlight="@import '~ngwr/ngwr.min.css'" [languages]="['scss']"></code></pre>
  </section>
</main>
