.ngwr-snippet {
  box-shadow: inset 0 0 0 1px var(--wr-border-color-base);
  border-radius: var(--wr-border-radius-base);
  overflow: hidden;

  &__display,
  &__body {
    padding: 2rem;
  }

  &__lang {
    display: flex;
    width: 100%;
    padding: 0.5rem 2rem;
    box-shadow: 0 1px 0 var(--wr-border-color-base);
    text-transform: uppercase;
    background-color: var(--ngwr-snippet-bg);
    color: var(--wr-color-medium);
    font-size: 0.75rem;
  }

  &__display {
    box-shadow: 0 1px 0 var(--wr-border-color-base);
  }

  &__body {
    background-color: var(--ngwr-snippet-bg);
    padding: 0;

    .ngwr-code {
      border: 0;

      &__content {
        padding: 2rem;
      }
    }

    &::ng-deep {
      pre[class*="language-"] {
        padding: 0;
        margin: 0;
        overflow: auto;
        border-radius: 0;
      }

      :not(pre) > code[class*="language-"],
      pre[class*="language-"] {
        background: transparent;
        border: none;
      }

      :not(pre) > code[class*="language-"] {
        padding: 0;
        border-radius: 0;
      }
    }
  }
}
