.ngwr-sidebar {
  display: block;
  position: sticky;
  top: var(--ngwr-header-height);
  left: 0;
  height: calc(100vh - var(--ngwr-header-height));
  width: 15rem;
  overflow: auto;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--wr-grid-gutter);
    padding-top: calc(var(--wr-grid-gutter) * 1.5);
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      color: var(--wr-color-dark);
      font-size: var(--ngwr-sidebar-font-size);
      font-weight: 600;
      line-height: 1rem;
      padding: 0;
      margin: 0 0 calc(var(--wr-grid-gutter) / 2);
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(var(--wr-grid-gutter) / 2);
      position: relative;
      z-index: 1;

      &:after {
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        background: var(--wr-border-color-base);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__link {
      color: rgba(var(--wr-color-dark-rgb), 0.75);

      //background: blue;

      font-size: var(--ngwr-sidebar-font-size);
      font-weight: 500;
      line-height: 1rem;
      margin: 0;
      padding: 0;
      padding-top: calc(var(--wr-grid-gutter) / 8);
      padding-bottom: calc(var(--wr-grid-gutter) / 8);
      padding-left: calc(var(--wr-grid-gutter) / 2);

      border-left: 1px solid transparent;

      position: relative;
      z-index: 2;

      transition: var(--wr-transition-base);

      &:hover {
        color: var(--wr-color-dark);
        border-left-color: var(--wr-color-medium);
      }

      &--active {
        color: var(--wr-color-primary);
        font-weight: 600;
        pointer-events: none;
        border-left-color: var(--wr-color-primary);
      }
    }
  }
}
