@use 'lib/styles/breakpoints' as bp;

.ngwr-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;

  @include bp.media-down(md) {
    grid-template-columns: 1fr;
  }

  &__content {
    min-width: 0;
    padding: 0;

    @include bp.media-down(md) {
      grid-column: 1;
    }
  }
}
