# Compiled output
dist
tmp
/out-tsc
RELEASE_BODY.md

# Node
node_modules

# Angular cache
.angular

# NX
.nx
migrations.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
.history

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
npm-debug.log
yarn-debug.log
yarn-error.log
*.log
/typings

# System files
.DS_Store
Thumbs.db
