.ngwr-footer {
  grid-column: 1 / 4;
  border-top: 1px solid var(--wr-color-light-lighter);
  background-color: var(--wr-color-white);
  z-index: 10;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    --ngwr-footer-item-color: var(--wr-color-medium);

    color: var(--ngwr-footer-item-color);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;

    padding-top: calc(var(--wr-grid-gutter) / 2);
    padding-bottom: calc(var(--wr-grid-gutter) / 2);

    transition: var(--wr-transition-base);

    &--link {
      &:hover {
        --ngwr-footer-item-color: var(--wr-color-primary);
      }
    }
  }
}
