<main class="divider">
  <div class="page__hero">
    <div class="page-header">
      <h1 class="page-header__title">Divider</h1>
      <p class="page-header__description">A modal dialog.</p>
    </div>

    <code [innerHTML]="importCode | language: 'ts' | markdown"></code>
  </div>

  <section class="page-section">
    <h2 class="page-section__title">Usage example</h2>
    <p class="page-section__description">Basic usage of dialog component</p>

    <wr-btn (click)="onDialogOpen()">Open dialog</wr-btn>
  </section>
</main>
