<main class="ngwr-page">
  <div class="ngwr-page-hero">
    <wr-tag class="ngwr-page-hero__tag" transparent rounded>Component</wr-tag>
    <h1 class="ngwr-page-hero__title">Divider</h1>
    <p class="ngwr-page-hero__description">{{ description }}</p>
  </div>

  <div class="ngwr-page__content">
    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">How to use</h2>
      <p class="ngwr-page-section__description">
        Import <code class="ngwr-pre">WrDividerModule</code> into a module where you want to use.
      </p>

      <ngwr-code class="ngwr-page-section__code" [code]="importCode" codeLang="ts"></ngwr-code>
    </div>

    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">Usage example</h2>
      <p class="ngwr-page-section__description">Basic usage of divider component</p>

      <ngwr-snippet class="ngwr-page-section__code" codeLang="html">
        <div slot="display">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <wr-divider></wr-divider>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <wr-divider width="3px" color="primary"></wr-divider>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <wr-divider type="solid" color="secondary"></wr-divider>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <wr-divider type="dashed" color="warning"></wr-divider>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <wr-divider type="dotted" color="success"></wr-divider>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <ngwr-code [code]="usageCode" codeLang="html" slot="code"></ngwr-code>
      </ngwr-snippet>
    </div>

    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">Styling</h2>
      <p class="ngwr-page-section__description"> You can change button styles with css variables. </p>

      <ngwr-snippet class="ngwr-page-section__code" codeLang="scss">
        <ngwr-code [code]="stylingCode" codeLang="scss" slot="code"></ngwr-code>
      </ngwr-snippet>
    </div>

    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">API</h2>

      <table class="ngwr-page__table">
        <thead>
          <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><code>[color]</code></th>
            <th>set color of divider</th>
            <th>
              <code>
                @for (color of colors; track $index) {
                  '{{ color.charAt(0) + color.slice(1) }}'
                  @if (!$last) {
                    |
                  }
                }
              </code>
            </th>
            <th><code>'light'</code></th>
          </tr>
          <tr>
            <th><code>[type]</code></th>
            <th>set type for divider</th>
            <th><code>'solid' | 'dashed' | 'dotted'</code></th>
            <th><code>'solid'</code></th>
          </tr>
          <tr>
            <th><code>[width]</code></th>
            <th>set width of divider</th>
            <th><code>string</code></th>
            <th><code>'1px'</code></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
