.snippet {
  box-shadow: inset 0 0 0 1px var(--wr-color-light);
  border-radius: var(--wr-border-radius-base);

  &__display,
  &__body {
    padding: 2rem;
  }

  &__lang {
    display: flex;
    width: 100%;
    padding: 0.5rem 2rem;
    box-shadow: 0 1px 0 var(--wr-color-light);
    text-transform: uppercase;
    background-color: rgba(var(--wr-color-light-rgb), 0.25);
    color: var(--wr-color-medium);
    font-size: 0.75rem;
  }

  &__display {
    box-shadow: 0 1px 0 var(--wr-color-light);
  }

  &__body {
    background-color: rgba(var(--wr-color-light-rgb), 0.25);
  }

  &__code {
    display: flex;
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;

    &::ng-deep {
      .hljs {
        background: transparent !important;
        margin: 0;
        padding: 0;
      }

      .hljs-ln {
        width: 100%;
        border-collapse: separate;
      }

      .hljs {
        white-space: pre;
      }
    }
  }
}
