:host {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem;
  max-width: 64rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  margin-bottom: 0.25rem;
}

.title {
  margin: 0;
  color: var(--wr-color-dark);
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: -0.5px;
}

.description {
  margin: 0;
  color: var(--wr-color-medium);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
