@use 'ngwr/theme';
@use 'ngwr/alert';
@use 'ngwr/button';
@use 'ngwr/empty';
@use 'ngwr/progress';
@use 'ngwr/pull-to-refresh';
@use 'ngwr/result';
@use 'ngwr/skeleton';
@use 'ngwr/slider';
@use 'ngwr/spinner';

body {
  margin: 0;
  background: var(--wr-color-surface);
  color: var(--wr-color-on-surface);
  font-family: system-ui, sans-serif;
}
