



<main>
  <section class="block container start">
    <h2 class="block__title">Getting started</h2>

    <p class="lead">Install package from npm:</p>
    <pre class="pre"><code highlight="$ yarn add ngwr" [languages]="['shell']"></code></pre>
    <pre class="pre"><code highlight="$ npm install ngwr" [languages]="['shell']"></code></pre>

    <p class="lead">Add styles:</p>
    <pre class="pre"><code highlight="@import '~ngwr/ngwr.min.css'" [languages]="['scss']"></code></pre>
  </section>

  <wr-divider></wr-divider>

  <section class="block container colors">
    <h2 class="block__title">Colors</h2>

    <wr-snippet codeLang="CSS">
      <div slot="display">
        <div class="colors__list">
          <div class="colors__item colors__item--{{ c }}" *ngFor="let c of colors">
            {{ c.charAt(0).toUpperCase() + c.slice(1) }}
          </div>
        </div>
      </div>

      <code [highlight]="colorsCode" slot="code" [languages]="['css']"></code>
    </wr-snippet>
  </section>








  <wr-divider></wr-divider>

  <section class="block container ext">
    <h2 class="block__title">Extended input</h2>

    <pre class="pre"><code highlight="import { WrExtendedInputModule } from 'ngwr';" [languages]="['ts']"></code></pre>

    <wr-snippet codeLang="html">
      <div slot="display">
        <wr-extended-input prefix="prefix" suffix="suffix" value="exInputModel"></wr-extended-input>
      </div>

      <code [highlight]="exInputCode" slot="code" [languages]="['html']"></code>
    </wr-snippet>
  </section>

  <wr-divider></wr-divider>

  <section class="block container pwd">
    <h2 class="block__title">Password input</h2>

    <pre class="pre"><code highlight="import { WrExtendedInputModule } from 'ngwr';" [languages]="['ts']"></code></pre>

    <wr-snippet codeLang="html">
      <div slot="display">
        <wr-password-input></wr-password-input>
      </div>

      <code [highlight]="passInput" slot="code" [languages]="['html']"></code>
    </wr-snippet>
  </section>

  <wr-divider></wr-divider>

  <section class="block container form">
    <h2 class="block__title">Form items</h2>

    <pre class="pre"><code highlight="import { WrFormModule } from 'ngwr';" [languages]="['ts']"></code></pre>

    <wr-snippet codeLang="html">
      <div slot="display">
        <wr-form-item>
          <label>Form label</label>
          <input wr-input value="Form item" />
          <wr-form-error>Form error</wr-form-error>
        </wr-form-item>
      </div>

      <code [highlight]="formCode" slot="code" [languages]="['html']"></code>
    </wr-snippet>
  </section>

  <wr-divider></wr-divider>

  <section class="block container skeleton">
    <h2 class="block__title">Skeleton</h2>

    <pre class="pre"><code highlight="import { WrSkeletonModule } from 'ngwr';" [languages]="['ts']"></code></pre>

    <wr-snippet codeLang="html">
      <div slot="display">
        <div class="row">
          <div class="col" *ngFor="let i of [].constructor(6)">
            <wr-skeleton style="height: 2rem; width: 2rem; border-radius: 50rem"></wr-skeleton>
            <wr-skeleton style="height: 1rem; width: 25%"></wr-skeleton>
            <wr-skeleton style="height: 1rem; width: 50%"></wr-skeleton>
            <wr-skeleton style="height: 1rem; width: 75%"></wr-skeleton>
            <wr-skeleton style="height: 4rem; width: 100%"></wr-skeleton>
          </div>
        </div>
      </div>

      <code [highlight]="skeletonCode" slot="code" [languages]="['html']"></code>
    </wr-snippet>
  </section>

  <wr-divider></wr-divider>

  <section class="block container spin">
    <h2 class="block__title">Spinner</h2>

    <pre class="pre"><code highlight="import { WrSpinnerModule } from 'ngwr';" [languages]="['ts']"></code></pre>

    <wr-snippet codeLang="html">
      <div slot="display">
        <wr-spin></wr-spin>
      </div>

      <code [highlight]="spinCode" slot="code" [languages]="['html']"></code>
    </wr-snippet>
  </section>

  <wr-divider></wr-divider>

  <section class="block container tags">
    <h2 class="block__title">Tags</h2>

    <pre class="pre"><code highlight="import { WrTagModule } from 'ngwr';" [languages]="['ts']"></code></pre>

    <wr-snippet codeLang="html">
      <div slot="display">
        <div class="tags__list">
          <wr-tag class="tags__item" *ngFor="let t of colors" [color]="t">
            {{ t.charAt(0).toUpperCase() + t.slice(1) }}
          </wr-tag>
        </div>

        <div class="tags__list">
          <wr-tag class="tags__item" *ngFor="let t of colors" [color]="t" transparent>
            {{ t.charAt(0).toUpperCase() + t.slice(1) }} transparent
          </wr-tag>
        </div>

        <div class="tags__list">
          <wr-tag class="tags__item" *ngFor="let t of colors" [color]="t" outlined>
            {{ t.charAt(0).toUpperCase() + t.slice(1) }} outlined
          </wr-tag>
        </div>

        <div class="tags__list">
          <wr-tag class="tags__item" *ngFor="let t of colors" [color]="t" rounded>
            {{ t.charAt(0).toUpperCase() + t.slice(1) }} rounded
          </wr-tag>
        </div>

        <div class="tags__list">
          <wr-tag class="tags__item" *ngFor="let t of colors" [color]="t" hoverable>
            {{ t.charAt(0).toUpperCase() + t.slice(1) }} hoverable
          </wr-tag>
        </div>

        <div class="tags__list">
          <wr-tag class="tags__item" color="primary" loading>Loading</wr-tag>
          <wr-tag class="tags__item" color="primary" loading transparent>Loading</wr-tag>
          <wr-tag class="tags__item" color="primary" loading outlined>Loading</wr-tag>
          <wr-tag class="tags__item" color="primary" loading rounded>Loading</wr-tag>
          <wr-tag class="tags__item" color="primary" loading hoverable>Loading</wr-tag>
        </div>
      </div>

      <code [highlight]="tagCode" slot="code" [languages]="['html']"></code>
    </wr-snippet>
  </section>

  <wr-divider></wr-divider>

  <section class="block container icons">
    <h2 class="block__title">Icons</h2>

    <pre class="pre"><code highlight="import { WrIconModule } from 'ngwr';" [languages]="['ts']"></code></pre>

    <p class="lead">Add module in root module:</p>
    <pre class="pre"><code [highlight]="iconRootCode" [languages]="['ts']"></code></pre>

    <wr-snippet codeLang="html">
      <div slot="display">
        <div class="row">
          <div class="col-md-2" *ngFor="let i of icons">
            <div class="icons-item">
              <wr-icon class="icons-item__icon" [name]="i.name"></wr-icon>
              <span class="icons-item__name">{{ i.name }}</span>
            </div>
          </div>
        </div>
      </div>

      <code [highlight]="iconCode" slot="code" [languages]="['html']"></code>
    </wr-snippet>
  </section>
</main>


