.header {
  display: block;

  background-color: rgba(var(--wr-body-bg-rgb), 0.75);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--wr-border-color-base);

  position: fixed;
  z-index: 9;
  width: 100%;
  height: var(--header-height);

  top: 0;
  left: 0;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-logo {
    height: 1.75rem;

    &__text {
      fill: var(--logo-text-color);
      transition: var(--wr-transition-short);
    }
  }

  &-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--header-color);
    height: 1.75rem;
    width: 1.75rem;
    padding: 0.25rem;
    transition: var(--wr-transition-short);

    &__icon {
      width: 100%;
      height: 100%;
    }

    &--margin-left-auto {
      margin-left: auto;
      margin-right: 1rem;
    }

    &:hover {
      cursor: pointer;
      color: var(--wr-color-primary);
    }
  }
}
