.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  &__wrapper {
    min-height: 100vh;
    padding-top: var(--header-height);
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background: linear-gradient(-45deg, transparent 75%, rgba(var(--wr-color-primary-rgb), 0.125) 100%);
      z-index: 0;
    }
  }

  &__content {
    padding-top: var(--layout-padding-y);
    padding-bottom: var(--layout-padding-y);
    z-index: 1;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-self: start;
    position: sticky;
    top: var(--header-height);
    overflow-y: auto;
    height: 100%;
    max-height: calc(100vh - var(--header-height));
    padding-top: var(--layout-padding-y);
    padding-bottom: var(--layout-padding-y);
    z-index: 1;

    &-list {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      &__title {
        display: inline-block;
        color: var(--text-color);
        font-size: 0.825rem;
        font-weight: 600;
        line-height: 1rem;
        margin-bottom: 0.75rem;
      }
    }

    &__link {
      color: var(--heading-color);

      font-size: var(--wr-font-size-base);
      font-weight: 500;
      line-height: var(--wr-font-size-base);

      padding: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 1rem;

      border-radius: calc(var(--wr-border-radius-base) / 2);
      background: rgba(var(--wr-color-primary-rgb), 0);
      transition: var(--wr-transition-base);

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: var(--wr-color-primary);
      }

      &--active {
        background: rgba(var(--wr-color-primary-rgb), 0.1);
        pointer-events: none;
      }
    }
  }
}
