.page {
  &__hero {
    margin-bottom: 3rem;
  }

  &-header {
    margin-bottom: 1rem;

    &__title {

    }

    &__description {
      color: var(--wr-color-medium);
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 1.4;
    }
  }

  &-section {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    &__title {
      font-size: 1.625rem;
    }

    &__description {
      color: rgba(var(--wr-color-dark-rgb), 0.75);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 0.75rem;
      margin-top: 0.125rem;
    }

    &__link {
      color: var(--wr-color-primary);
      transition: var(--wr-transition-base);

      &:hover {
        color: var(--wr-color-secondary);
      }
    }

    &__code {
      color: var(--wr-color-secondary);
      background: rgba(var(--wr-color-light-rgb), 0.5);
      border: 1px solid var(--wr-color-light);
      border-radius: 3px;
      font-size: 0.9em;
      padding: 0.125em 0.375em;
    }
  }

  &__table {
    background: transparent;
    border: 1px solid rgba(var(--wr-color-light-rgb), 1);

    width: 100%;

    margin-top: 1rem;
    margin-bottom: 2rem;

    tr, th {
      padding: 0.5rem;
    }

    code {
      color: var(--wr-color-secondary);
      background: rgba(var(--wr-color-light-rgb), 0.5);
      border: 1px solid var(--wr-color-light);
      border-radius: 3px;
      font-size: 0.9em;
      padding: 0.125em 0.375em;
    }

    thead {
      color: var(--wr-color-medium);

      font-size: 0.825rem;
      font-weight: 600;

      background: rgba(var(--wr-color-light-rgb), 0.375);
      border-bottom: 1px solid var(--wr-color-light);

      tr, th {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
    }

    tbody {
      color: var(--wr-color-dark);
      font-size: 0.825rem;
      font-weight: 500;

      tr, th {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }

      tr {
        border-bottom: 1px solid var(--wr-color-light);
      }
    }
  }
}
