html {
  // Typography
  --ngwr-headings-color: var(--wr-color-dark);
  --ngwr-text-color: var(--wr-color-medium);

  // Fonts
  --wr-font-family-base: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --wr-font-family-mono: Inconsolata,Monaco,Consolas,Courier New,Courier,monospace;

  // Header
  --ngwr-header-height: 3rem;

  // Footer
  --ngwr-footer-item-text-color: var(--ngwr-text-color);
  --ngwr-footer-item-font-size: 0.75rem;
  --ngwr-footer-item-font-weight: 400;
  --ngwr-footer-item-line-height: 1rem;

  // Sidebar
  --ngwr-sidebar-font-size: 0.875rem;

  // Snippet
  --ngwr-snippet-bg: rgba(var(--wr-color-light-rgb), 0.25);

  // Thumb (scrollbar)
  --ngwr-thumb-color: rgba(var(--wr-color-dark-rgb), 0.25);
  --ngwr-thumb-hover-color: rgba(var(--wr-color-dark-rgb), 0.5);

  // Highlight (code)
  --ngwr-hl-text: var(--wr-color-dark);
  --ngwr-hl-comment: rgba(var(--wr-color-medium-rgb), 0.75);
  --ngwr-hl-attr: var(--wr-color-secondary);
  --ngwr-hl-keyword: var(--wr-color-secondary);
  --ngwr-hl-title: #c18401;
  --ngwr-hl-string: #42b983;
  --ngwr-hl-number: var(--wr-color-primary);
  --ngwr-hl-name: #8454ff;

  // Core div
  --ngwr-div-bg-shade: rgba(var(--wr-color-light-rgb), 0.25);

  &.dark {
    // Typography
    --ngwr-headings-color: var(--wr-color-white);
    --ngwr-text-color: var(--wr-color-medium);

    // Snippet
    --ngwr-snippet-bg: rgba(var(--wr-color-primary-rgb), 0.05);

    // Highlight (code)
    --prism-comment: #7C7C7C;
    --prism-punctuation: #c5c8c6;
    --prism-keyword: #96CBFE;
    --prism-string: #A8FF60;
    --prism-function: #ff7b72;
    --prism-attr: #b89cff;

    // Core div
    --ngwr-div-bg-shade: rgba(var(--wr-color-primary-rgb), 0.25);

    // Highlight (code)
    --ngwr-hl-text: var(--wr-color-white);
    --ngwr-hl-comment: rgba(var(--wr-color-medium-rgb), 0.75);
    --ngwr-hl-attr: var(--wr-color-secondary);
    --ngwr-hl-keyword: var(--wr-color-secondary);
    --ngwr-hl-title: #c18401;
    --ngwr-hl-string: #42b983;
    --ngwr-hl-number: var(--wr-color-primary);
    --ngwr-hl-name: #8454ff;
  }
}
