.ngwr-pre {
  color: var(--ngwr-headings-color);
  font-family: var(--wr-font-family-mono);
  background: var(--ngwr-div-bg-shade);
  border: 1px solid var(--wr-border-color-base);
  border-radius: 3px;
  font-size: 1em;
  font-weight: 500;
  padding: 0.125em 0.375em;
  vertical-align: baseline;
}
