.ngwr-layout {
  &__wrapper {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    position: relative;
    z-index: 1;
  }

  &__content {
    padding-top: calc(var(--wr-grid-gutter) * 1.5);
    padding-bottom: calc(var(--wr-grid-gutter) * 1.5);
  }
}
