@import '../vars';

small {
  font-size: 0.75rem;
  color: inherit;
  opacity: 0.75;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  color: $heading-color;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

@each $heading, $font-size in $heading-sizes {
  .h#{$heading} {
    font-size: $font-size;
  }

  h#{$heading} {
    @extend .h#{$heading};
  }
}
