@import '../vars';
@import '../mixins';

$icon-prefix: #{$prefix}-icon;

.#{$icon-prefix} {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125rem;

  box-sizing: content-box !important;

  contain: strict;

  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;

  * {
    line-height: 1;
  }

  svg {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
