@import '../vars';
@import '../mixins';

$input-prefix: #{$prefix}-input;

.#{$input-prefix} {
  display: inline-flex;
  appearance: none;

  background: $color-white;
  box-shadow: inset 0 0 0 1px $color-light;
  border: none;
  border-radius: $input-border-radius;

  margin: 0;
  padding: $input-padding-y $input-padding-x;

  color: $color-dark;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  resize: none;
  font-family: inherit;

  transition: $transition-primary;
  width: 100%;

  &::placeholder {

  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px rgba($color-primary, 0.375), 0 0 0 2px rgba($color-primary, 0.05);
  }

  &disabled,
  &--disabled {
    color: var(--color-medium);
    background-color: rgba(var(--color-light-rgb), 0.5);
    cursor: not-allowed;
  }
}
