@import '../vars';
@import '../mixins';

$tooltip-prefix: #{$prefix}-tooltip;

.#{$tooltip-prefix} {
  display: block;

  font-family: $font-family;
  font-size: 0.75rem;
  font-weight: 400;

  line-height: 1.2;

  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  margin-bottom: 0.5rem;

  color: $color-white;
  background: $color-dark;

  transition: $transition-primary;

  position: relative;

  &:after {
    content: '';

    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;

    border-top: 0.25rem solid $color-dark;
  }

  &__wrapper {
    cursor: pointer;
  }

  opacity: 1;
  animation: fade-in 0.125s linear forwards;

  @keyframes fade-in {
    0% {
      transform: translateY(0.5rem);
      opacity: 0
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
