.tag {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: -0.5rem;
    }

    wr-tag {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
