<main class="tag">
  <div class="page__hero">
    <div class="page-header">
      <h1 class="page-header__title">Tag</h1>
      <p class="page-header__description">Tag for display state or status.</p>
    </div>

    <pre class="pre"><code highlight="import { WrTagModule } from 'ngwr';" [languages]="['ts']"></code></pre>
  </div>

  <section class="page-section">
    <h2 class="page-section__title">Color</h2>
    <p class="page-section__description">
      Tag component is available in different <a class="page-section__link" routerLink="/common/colors">colors</a>.
      Color can be set by <code class="page-section__code">color</code> attribute.
    </p>

    <app-snippet codeLang="html">
      <div class="tag__list" slot="display">
        <wr-tag *ngFor="let b of colors" [color]="b">
          {{ b.charAt(0).toUpperCase() + b.slice(1) }}
        </wr-tag>
      </div>
      <code [highlight]="colorsCode" slot="code" [languages]="['html']"></code>
    </app-snippet>
  </section>

  <section class="page-section">
    <h2 class="page-section__title">Outlined tags</h2>
    <p class="page-section__description">
      If <code class="page-section__code">outlined</code> attribute is set, tag component will be displayed without
      background, but with stroke.
    </p>

    <app-snippet codeLang="html">
      <div class="tag__list" slot="display">
        <wr-tag *ngFor="let b of colors" [color]="b" outlined>
          {{ b.charAt(0).toUpperCase() + b.slice(1) }}
        </wr-tag>
      </div>
      <code [highlight]="outlinedCode" slot="code" [languages]="['html']"></code>
    </app-snippet>
  </section>

  <section class="page-section">
    <h2 class="page-section__title">Rounded tags</h2>
    <p class="page-section__description">
      In need of round shaped tag, you can set <code class="page-section__code">rounded</code> attribute, and tag
      component will be displayed with rounded edges.
    </p>

    <app-snippet codeLang="html">
      <div class="tag__list" slot="display">
        <wr-tag *ngFor="let b of colors" [color]="b" rounded>Rounded</wr-tag>
      </div>
      <code [highlight]="roundedCode" slot="code" [languages]="['html']"></code>
    </app-snippet>
  </section>

  <section class="page-section">
    <h2 class="page-section__title">Transparent tags</h2>
    <p class="page-section__description">
      You can set <code class="page-section__code">transparent</code> attribute to make tag transparent.
    </p>

    <app-snippet codeLang="html">
      <div class="tag__list" slot="display">
        <wr-tag *ngFor="let b of colors" [color]="b" transparent>Transparent</wr-tag>
      </div>
      <div class="tag__list" slot="display">
        <wr-tag *ngFor="let b of colors" [color]="b" transparent outlined>Transparent</wr-tag>
      </div>
      <code [highlight]="transparentCode" slot="code" [languages]="['html']"></code>
    </app-snippet>
  </section>

  <section class="page-section">
    <h2 class="page-section__title">Hoverable tags</h2>
    <p class="page-section__description">
      If you need to hover effect for tag, you can set <code class="page-section__code">hoverable</code> attribute.
    </p>

    <app-snippet codeLang="html">
      <div class="tag__list" slot="display">
        <wr-tag *ngFor="let b of colors" [color]="b" hoverable>Hoverable</wr-tag>
      </div>
      <div class="tag__list" slot="display">
        <wr-tag *ngFor="let b of colors" [color]="b" hoverable outlined>Hoverable</wr-tag>
      </div>
      <div class="tag__list" slot="display">
        <wr-tag *ngFor="let b of colors" [color]="b" hoverable transparent>Hoverable</wr-tag>
      </div>
      <div class="tag__list" slot="display">
        <wr-tag *ngFor="let b of colors" [color]="b" hoverable transparent outlined>Hoverable</wr-tag>
      </div>
      <code [highlight]="hoverableCode" slot="code" [languages]="['html']"></code>
    </app-snippet>
  </section>

  <section class="page-section">
    <h2 class="page-section__title">
      Using with <a class="page-section__link" routerLink="/components/icon">icons</a>
    </h2>
    <p class="page-section__description">
      Tag component can easily be enhanced by adding a icon. All you need is set icon name within
      <code class="page-section__code">icon</code> attribute. Also you can set icon position with
      <code class="page-section__code">iconPosition</code> attribute.
    </p>

    <app-snippet codeLang="html">
      <div class="tag__list" slot="display">
        <wr-tag icon="add">Add</wr-tag>
        <wr-tag icon="user" outlined>Username</wr-tag>
        <wr-tag icon="chevron-down" iconPosition="end" color="secondary">Expand</wr-tag>
        <wr-tag icon="alert-circle" transparent color="danger">Warning</wr-tag>
        <wr-tag transparent color="medium" loading iconPosition="end">Loading</wr-tag>
      </div>
      <code [highlight]="iconsCode" slot="code" [languages]="['html']"></code>
    </app-snippet>
  </section>

  <section class="page-section">
    <h2 class="page-section__title">Loading state</h2>
    <p class="page-section__description">
      If you need a loading version of tag, you can easily set
      <code class="page-section__code">loading</code> attribute. You can set position of spinner by setting
      <code class="page-section__code">iconPosition</code> attribute.
    </p>

    <app-snippet codeLang="html">
      <div class="tag__list" slot="display">
        <wr-tag loading>Loading</wr-tag>
        <wr-tag [loading]="true" color="dark" rounded iconPosition="end">Loading</wr-tag>
        <wr-tag [loading]="true" color="success" transparent>Loading</wr-tag>
      </div>
      <code [highlight]="loadingCode" slot="code" [languages]="['html']"></code>
    </app-snippet>
  </section>

  <section class="page-section">
    <h2 class="page-section__title">API</h2>

    <table class="page__table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><code>[color]</code></th>
          <th>set color of tag</th>
          <th>
            <code>'primary' | 'secondary' | 'success' | 'warning' | 'danger' | 'light' | 'medium' | 'dark'</code>
          </th>
          <th><code>'primary'</code></th>
        </tr>
        <tr>
          <th><code>[outlined]</code></th>
          <th>set outlined style for tag</th>
          <th><code>boolean</code></th>
          <th><code>false</code></th>
        </tr>
        <tr>
          <th><code>[rounded]</code></th>
          <th>set rounded style for tag</th>
          <th><code>boolean</code></th>
          <th><code>false</code></th>
        </tr>
        <tr>
          <th><code>[transparent]</code></th>
          <th>set transparent style for tag</th>
          <th><code>boolean</code></th>
          <th><code>false</code></th>
        </tr>
        <tr>
          <th><code>[hoverable]</code></th>
          <th>set hoverable style for tag</th>
          <th><code>boolean</code></th>
          <th><code>false</code></th>
        </tr>
        <tr>
          <th><code>[icon]</code></th>
          <th>add icon to tag</th>
          <th><code>wrIconName</code></th>
          <th><code>null</code></th>
        </tr>
        <tr>
          <th><code>[iconPosition]</code></th>
          <th>set position of icon</th>
          <th><code>'start' | 'end'</code></th>
          <th><code>'start'</code></th>
        </tr>
        <tr>
          <th><code>[loading]</code></th>
          <th>set loading state for tag</th>
          <th><code>boolean</code></th>
          <th><code>false</code></th>
        </tr>
      </tbody>
    </table>
  </section>
</main>
