<main class="button">
  <section class="container">
    <div class="page__hero">
      <div class="page-header">
        <h1 class="page-header__title">Button</h1>
        <p class="page-header__description">A component to trigger an operations</p>
      </div>

      <pre class="pre"><code highlight="import { WrButtonModule } from 'ngwr';" [languages]="['ts']"></code></pre>
    </div>

    <section class="page-section">
      <h2 class="page-section__title">Color</h2>
      <p class="page-section__description">
        Button component is available in different <a class="page-section__link" routerLink="/core/color">colors</a>.
        Color can be set by <code class="page-section__code">color</code> attribute.
      </p>

      <wr-snippet codeLang="html">
        <div class="button__list" slot="display">
          <wr-btn *ngFor="let b of colors" [color]="b">
            {{ b.charAt(0).toUpperCase() + b.slice(1) }}
          </wr-btn>
        </div>
        <code [highlight]="colorsCode" slot="code" [languages]="['html']"></code>
      </wr-snippet>
    </section>

    <section class="page-section">
      <h2 class="page-section__title">Outlined buttons</h2>
      <p class="page-section__description">
        If <code class="page-section__code">outlined</code> attribute is set, Button component will be displayed without
        background, but with stroke.
      </p>

      <wr-snippet codeLang="html">
        <div class="button__list" slot="display">
          <wr-btn *ngFor="let b of colors" [color]="b" outlined>
            {{ b.charAt(0).toUpperCase() + b.slice(1) }}
          </wr-btn>
        </div>
        <code [highlight]="outlinedCode" slot="code" [languages]="['html']"></code>
      </wr-snippet>
    </section>

    <section class="page-section">
      <h2 class="page-section__title">Rounded buttons</h2>
      <p class="page-section__description">
        In need of round shaped button, you can set <code class="page-section__code">rounded</code> attribute, and
        Button component will be displayed with rounded edges.
      </p>

      <wr-snippet codeLang="html">
        <div class="button__list" slot="display">
          <wr-btn *ngFor="let b of colors" [color]="b" rounded>Rounded</wr-btn>
        </div>
        <code [highlight]="roundedCode" slot="code" [languages]="['html']"></code>
      </wr-snippet>
    </section>

    <section class="page-section">
      <h2 class="page-section__title">Sizes</h2>
      <p class="page-section__description">
        If you need a small button, you can set <code class="page-section__code">size="small"</code> attribute.
      </p>

      <wr-snippet codeLang="html">
        <div class="button__list" slot="display">
          <wr-btn>Default size</wr-btn>
          <wr-btn size="small">Small size</wr-btn>
          <wr-btn color="danger" outlined icon="alert-circle">Default size</wr-btn>
          <wr-btn size="small" color="danger" outlined icon="alert-circle">Small size</wr-btn>
          <wr-btn color="secondary" rounded>Default size</wr-btn>
          <wr-btn size="small" color="secondary" rounded>Small size</wr-btn>
        </div>
        <code [highlight]="sizeCode" slot="code" [languages]="['html']"></code>
      </wr-snippet>
    </section>

    <section class="page-section">
      <h2 class="page-section__title">Display full width</h2>
      <p class="page-section__description">
        In case you need a button that completely fills the width of parent block you can use
        <code class="page-section__code">fullwidth</code> attribute.
      </p>

      <wr-snippet codeLang="html">
        <div class="button__list button__list--column" slot="display">
          <wr-btn fullwidth>Full width button</wr-btn>
          <wr-btn fullwidth color="secondary" rounded outlined icon="user">Full width button with icon</wr-btn>
        </div>
        <code [highlight]="fullWidthCode" slot="code" [languages]="['html']"></code>
      </wr-snippet>
    </section>

    <section class="page-section">
      <h2 class="page-section__title">
        Using with <a class="page-section__link" routerLink="/components/icon">icons</a>
      </h2>
      <p class="page-section__description">
        Button component can easily be enhanced by adding a icon. All you need is set icon name within
        <code class="page-section__code">icon</code> attribute. Also you can set icon position with
        <code class="page-section__code">iconPosition</code> attribute.
      </p>

      <wr-snippet codeLang="html">
        <div class="button__list" slot="display">
          <wr-btn icon="add">Add</wr-btn>
          <wr-btn icon="copy-outline" outlined>Copy</wr-btn>
          <wr-btn icon="download" iconPosition="end" color="secondary">Download</wr-btn>
          <wr-btn icon="warning" outlined rounded color="warning">Warning</wr-btn>
          <wr-btn icon="alert-circle" size="small" rounded color="danger">Alert</wr-btn>
        </div>
        <code [highlight]="iconsCode" slot="code" [languages]="['html']"></code>
      </wr-snippet>
    </section>

    <section class="page-section">
      <h2 class="page-section__title">Loading state</h2>
      <p class="page-section__description">
        If you need a loading version of button, you can easily set
        <code class="page-section__code">loading</code> attribute. You don't need to remove the inner text or icon,
        button component will maintain its original size.
      </p>

      <wr-snippet codeLang="html">
        <div class="button__list" slot="display">
          <wr-btn loading>Loading</wr-btn>
          <wr-btn [loading]="true" color="dark" rounded>You can use boolean or string</wr-btn>
          <wr-btn loading icon="add" color="secondary" outlined>Loading with icon</wr-btn>
        </div>
        <code [highlight]="loadingCode" slot="code" [languages]="['html']"></code>
      </wr-snippet>
    </section>

    <section class="page-section">
      <h2 class="page-section__title">Disabled state</h2>
      <p class="page-section__description">
        You can add <code class="page-section__code">disabled</code> attribute to prevent interacting with the button.
      </p>

      <wr-snippet codeLang="html">
        <div class="button__list" slot="display">
          <wr-btn disabled>Disabled</wr-btn>
          <wr-btn disabled rounded>Disabled</wr-btn>
          <wr-btn disabled icon="alert-circle">Disabled</wr-btn>
        </div>
        <code [highlight]="disabledCode" slot="code" [languages]="['html']"></code>
      </wr-snippet>
    </section>

    <section class="page-section">
      <h2 class="page-section__title">API</h2>

      <table class="page__table">
        <thead>
          <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><code>[color]</code></th>
            <th>set color of button</th>
            <th>
              <code>'primary' | 'secondary' | 'success' | 'warning' | 'danger' | 'light' | 'medium' | 'dark'</code>
            </th>
            <th><code>'primary'</code></th>
          </tr>
          <tr>
            <th><code>[outlined]</code></th>
            <th>set outlined style for button</th>
            <th><code>boolean</code></th>
            <th><code>false</code></th>
          </tr>
          <tr>
            <th><code>[outlined]</code></th>
            <th>set rounded style for button</th>
            <th><code>boolean</code></th>
            <th><code>false</code></th>
          </tr>
          <tr>
            <th><code>[size]</code></th>
            <th>set size of button</th>
            <th><code>'default' | 'small'</code></th>
            <th><code>'default'</code></th>
          </tr>
          <tr>
            <th><code>[fullwidth]</code></th>
            <th>option to fit button width to its parent width</th>
            <th><code>boolean</code></th>
            <th><code>false</code></th>
          </tr>
          <tr>
            <th><code>[icon]</code></th>
            <th>add icon to button</th>
            <th><code>wrIconName</code></th>
            <th><code>null</code></th>
          </tr>
          <tr>
            <th><code>[iconPosition]</code></th>
            <th>set position of icon</th>
            <th><code>'start' | 'end'</code></th>
            <th><code>'start'</code></th>
          </tr>
          <tr>
            <th><code>[loading]</code></th>
            <th>set loading state for button</th>
            <th><code>boolean</code></th>
            <th><code>false</code></th>
          </tr>
          <tr>
            <th><code>[disabled]</code></th>
            <th>set disabled state for button</th>
            <th><code>boolean</code></th>
            <th><code>false</code></th>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</main>
