@import 'vars';

:root {
  @each $color, $value in $theme-colors {
    --color-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors-rgb {
    --color-#{$color}-rgb: #{$value};
  }

  --color-white: #{$color-white};
  --color-black: #{$color-black};

  --color-white-rgb: #{to-rgb($color-white)};
  --color-black-rgb: #{to-rgb($color-black)};

  --font-family-base: #{$font-family};
  --font-family-code: #{$code-family};
  --font-size-base: #{$font-size-base};
  --font-weight-base: #{$font-size-base};

  --transition-base: #{$transition-base};

  --radius-base: 0.625rem;

  --shadow-base: inset 0 0 0 1px rgba(var(--color-dark-rgb), 0.125);
//, 0px 2px 4px -2px rgba(var(--color-dark-rgb), 0.125
  --shadow-base-hover: inset 0 0 0 1px rgba(var(--color-dark-rgb), 0.125), 0px 25px 50px -12px rgba(var(--color-dark-rgb), 0.125);

}
