<main class="ngwr-home">
  <div class="container">
    <div class="ngwr-home-hero">
      <img class="ngwr-home-hero__logo" src="assets/images/logo.svg" alt="NGWR logo" />
      <h2 class="ngwr-home-hero__headline">The best way to make stylish Angular applications</h2>
      <a class="ngwr-home-hero__btn" wr-btn routerLink="docs" icon="arrow-forward" iconPosition="end">Get Started</a>
    </div>

    <div class="ngwr-home-warning">
      <wr-icon class="ngwr-home-warning__icon" name="warning"></wr-icon>
      <p class="ngwr-home-warning__text">
        NGWR is currently in development stage. All components are updating every week. Use it on your own risk. <br />
        All bugreports and ideas are
        <a
          class="ngwr-home-warning__link"
          href="https://github.com/thekhegay/ngwr/issues/new"
          target="_blank"
          rel="nofollow"
          >welcomed</a
        >.
      </p>
    </div>
  </div>
</main>
