.button {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--wr-grid-gutter);
    margin-bottom: -0.5rem;

    &--column {
      flex-direction: column;
      width: 100%;
      margin-bottom: 0;

      .wr-btn {
        margin-right: 0;
      }
    }
  }
}
