<aside class="ngwr-sidebar__wrapper">
  <div class="ngwr-sidebar-item">
    <h5 class="ngwr-sidebar-item__title">Documentation</h5>
    <div class="ngwr-sidebar-item__list">
      <a
        class="ngwr-sidebar-item__link"
        *ngFor="let l of documentationSidebarLinks"
        [routerLink]="l.url"
        routerLinkActive="ngwr-sidebar-item__link--active"
      >
        {{ l.title }}
      </a>
    </div>
  </div>
  <div class="ngwr-sidebar-item">
    <h5 class="ngwr-sidebar-item__title">Core</h5>
    <div class="ngwr-sidebar-item__list">
      <a
        class="ngwr-sidebar-item__link"
        *ngFor="let l of commonSidebarLinks"
        [routerLink]="l.url"
        routerLinkActive="ngwr-sidebar-item__link--active"
      >
        {{ l.title }}
      </a>
    </div>
  </div>
  <div class="ngwr-sidebar-item">
    <h5 class="ngwr-sidebar-item__title">Components</h5>
    <div class="ngwr-sidebar-item__list">
      <a
        class="ngwr-sidebar-item__link"
        *ngFor="let l of componentsSidebarLinks"
        [routerLink]="l.url"
        routerLinkActive="ngwr-sidebar-item__link--active"
      >
        {{ l.title }}
      </a>
    </div>
  </div>
</aside>
