<aside class="ngwr-sidebar__wrapper">
  @for (item of items; track $index) {
    @if (item.isCategory) {
      <div class="ngwr-sidebar-item">
        <span class="ngwr-sidebar-item__title">{{ item.title }}</span>
        <div class="ngwr-sidebar-item__list">
          @for (link of item.children; track $index) {
            <a
              class="ngwr-sidebar-item__link"
              [routerLink]="link.url!"
              routerLinkActive="ngwr-sidebar-item__link--active"
            >
              {{ link.title }}
            </a>
          }
        </div>
      </div>
    }
  }
</aside>
