.ngwr-home {
  &-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: calc(var(--wr-grid-gutter) * 4);
    padding-bottom: calc(var(--wr-grid-gutter) * 4);

    &__logo {
      display: block;
      height: 8rem;
      width: auto;
      user-select: none;
      pointer-events: none;
    }

    &__headline {
      color: var(--ngwr-headings-color);
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      margin-top: var(--wr-grid-gutter);
      margin-bottom: var(--wr-grid-gutter);
    }
  }

  &-warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--wr-border-color-base);
    border-radius: calc(var(--wr-border-radius-base) * 2);

    padding: calc(var(--wr-grid-gutter) * 2);

    &__icon {
      color: var(--wr-color-warning);

      width: 2rem;
      height: 2rem;
      margin-bottom: var(--wr-grid-gutter);
    }

    &__text {
      color: var(--ngwr-headings-color);
      font-size: 1.25rem;
      font-weight: 500;
      text-align: center;
    }

    &__link {
      color: var(--wr-color-primary);
      transition: var(--wr-transition-base);

      &:hover {
        color: var(--wr-color-secondary);
      }
    }
  }
}
