<main class="gridPage">
  <div class="page__hero">
    <div class="page-header">
      <h1 class="page-header__title">Grid</h1>
      <!--        <p class="page-header__description">A component to trigger an operations</p>-->
    </div>
  </div>

  <section class="page-section">
    <h2 class="page-section__title">Example</h2>
    <p class="page-section__description">Common use of grid.</p>

    <app-snippet codeLang="css">
      <div slot="display">
        <div class="grid gridPage__list">
          <div class="col-6">.col-6</div>
          <div class="col-6">.col-6</div>
          <div class="col-6">.col-6</div>
          <div class="col-6">.col-6</div>
        </div>
      </div>
      <code [innerHTML]="exampleCode | language: 'html' | markdown" slot="code"></code>
    </app-snippet>
  </section>
</main>
