<main class="ngwr-page">
  <div class="ngwr-page-hero">
    <wr-tag class="ngwr-page-hero__tag" transparent rounded>Component</wr-tag>
    <h1 class="ngwr-page-hero__title">Checkbox</h1>
    <p class="ngwr-page-hero__description">{{ description }}</p>
  </div>

  <div class="ngwr-page__content">
    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">How to use</h2>
      <p class="ngwr-page-section__description">
        Import <code class="ngwr-pre">WrCheckboxModule</code> into a module where you want to use.
      </p>

      <ngwr-code class="ngwr-page-section__code" [code]="importCode" codeLang="ts"></ngwr-code>
    </div>

    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">Usage example</h2>
      <p class="ngwr-page-section__description">
        Checkbox component cannot be used outside of
        <a class="ngwr-page-section__link" href="https://angular.io/guide/forms-overview" target="_blank">
          Angular Forms
        </a>
      </p>

      <ngwr-snippet class="ngwr-page-section__code" codeLang="html">
        <div class="checkbox__list" slot="display">
          <wr-checkbox [ngModel]="true">Checkbox</wr-checkbox>
        </div>
        <ngwr-code [code]="usageCode" codeLang="html" slot="code"></ngwr-code>
      </ngwr-snippet>
    </div>

    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">Disabled state</h2>
      <p class="ngwr-page-section__description">
        You can add <code class="ngwr-pre">disabled</code> attribute to prevent interacting with the checkbox.
      </p>

      <ngwr-snippet class="ngwr-page-section__code" codeLang="html">
        <div class="checkbox__list" slot="display">
          <wr-checkbox disabled>Checkbox</wr-checkbox>
          <wr-checkbox [ngModel]="true" disabled>Checkbox</wr-checkbox>
        </div>
        <ngwr-code [code]="disabledCode" codeLang="html" slot="code"></ngwr-code>
      </ngwr-snippet>
    </div>

    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">Value change event handling</h2>
      <p class="ngwr-page-section__description">
        You can handle checkbox component value change via
        <code class="ngwr-pre">checkedChange</code> callback function.
      </p>

      <ngwr-snippet class="ngwr-page-section__code" codeLang="html">
        <div class="checkbox__list" slot="display">
          <wr-checkbox [ngModel]="false" (ngModelChange)="onValueChange($event)">Click me!</wr-checkbox>
        </div>
        <ngwr-code [code]="valueChangeCode" codeLang="html" slot="code"></ngwr-code>
      </ngwr-snippet>
    </div>

    <div class="ngwr-page-section">
      <h2 class="ngwr-page-section__title">API</h2>

      <table class="ngwr-page__table">
        <thead>
          <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><code>[disabled]</code></th>
            <th>set disabled state for checkbox</th>
            <th><code>boolean</code></th>
            <th><code>false</code></th>
          </tr>
          <tr>
            <th><code>[ngModel]</code></th>
            <th>Two way binding, specifies whether the checkbox is checked</th>
            <th><code>boolean</code></th>
            <th><code>false</code></th>
          </tr>
          <tr>
            <th><code>(ngModelChange)</code></th>
            <th>The callback function that is triggered when the state changes.</th>
            <th>
              <code>{{ ngModelChangeReturn }}</code>
            </th>
            <th><code>-</code></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
