<app-header></app-header>
<div class="layout__wrapper">
  <div class="container">
    <div class="grid">
      <div class="col-12 col-md-2">
        <aside class="layout-sidebar">
          <div class="layout-sidebar-list">
            <span class="layout-sidebar-list__title">Documentation</span>
            <a
              class="layout-sidebar__link"
              *ngFor="let l of documentationSidebarLinks"
              [routerLink]="l.url"
              routerLinkActive="layout-sidebar__link--active"
            >
              {{ l.title }}
            </a>
          </div>
          <div class="layout-sidebar-list">
            <span class="layout-sidebar-list__title">Components</span>
            <a
              class="layout-sidebar__link"
              *ngFor="let l of componentsSidebarLinks"
              [routerLink]="l.url"
              routerLinkActive="layout-sidebar__link--active"
            >
              {{ l.title }}
            </a>
          </div>
          <div class="layout-sidebar-list">
            <span class="layout-sidebar-list__title">Core</span>
            <a
              class="layout-sidebar__link"
              *ngFor="let l of commonSidebarLinks"
              [routerLink]="l.url"
              routerLinkActive="layout-sidebar__link--active"
            >
              {{ l.title }}
            </a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-md-10 layout__content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
