<div #content>
  <ng-content />
</div>

<!--@if (highlighted.isLoading()) {-->
<!--  <pre class="ngwr-code-snippet__fallback"><code>{{ code() }}</code></pre>-->
<!--} @else if (highlighted.value(); as html) {-->
<!--  <div class="ngwr-code-snippet__highlighted" [innerHTML]="html"></div>-->
<!--} @else {-->
<!--  <pre class="ngwr-code-snippet__fallback"><code>{{ code() }}</code></pre>-->
<!--}-->

<!--<button-->
<!--  type="button"-->
<!--  class="ngwr-code-snippet__copy"-->
<!--  (click)="copy()"-->
<!--  aria-label="Copy code"-->
<!--&gt;-->
<!--  Copy-->
<!--</button>-->
