name: Deploy showcase

on:
  pull_request:
    branches:
      - main
    types:
      - closed

concurrency:
  group: deploy-ngwr-showcase
  cancel-in-progress: false

jobs:
  build-and-deploy:
    if: >
      contains(github.head_ref, 'release/')
      && contains(github.base_ref, 'main')
      && github.event.action == 'closed'
      && github.event.pull_request.merged == true

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.21.0

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build showcase
        run: pnpm build:showcase

      - name: Deploy
        uses: easingthemes/ssh-deploy@main
        with:
          SCRIPT_BEFORE: ls
          ARGS: "-rlgoDzvc -i"
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SOURCE: "dist/showcase/"
          REMOTE_HOST: ${{ secrets.SSH_REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.SSH_REMOTE_USER }}
          TARGET: "/var/www/ngwr-showcase/"
